{% extends "layout.html" %}

{% load static %}


{% block body %}

<section id="about" class="about">
  <div class="container">

    <div class="section-title"><br>
      <h2><b>Company Details</b></h2> <br>
      <p style="font-family: Georgia;">At <strong>DIPTI AGROTECH PRIVATE LIMITED</strong> "we are committed to help farmers of India by providing reasonable product
        at reasonable rate by using state of the art manufacturing system".</p>
    </div>

    <div class="row" style="padding-top: 15px;">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="{% static 'ceo.jpg' %}" class="img-fluid" alt="" style="border-radius: 50%;">
        <div style="text-align: center; padding: 20px;">
          <h5 style="color: #e78000;">Company CEO & Founder : </h5>
          <h4><strong>Mr. Subrata Deb Roy</strong></h4>
          <p>The CEO of Dipti Agrotech Private Limited also founded this company in 2020, said that - "I have taken oath to nurture the nature at its best ecologically. The products of this company are totally chemical free and made with mixture of herbal and of purely biological materials of plants."</p>
          <p><b>Our main object is - "Do not harm the biodiversity of our flora and fauna".</b></P>

          <P><b>So come join my hand to build a sustainable and safe environment.</b></p>
        </div>
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h4><strong> CORE VALUE </strong></h4>
        <div class="box-container">

          <ul style="list-style: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;">

            <li style="list-style: none;
            margin: 1em;">
              <a href="#" contenteditable style="text-decoration: none;
              color: #000;
              background: #3fff00b8;
              display: block;
              height: 10em;
              width: 10em;
              padding: 1em;
              box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
              transform: rotate(-6deg);
              transition: transform .15s linear;">
                <h6>Responsibility</h6>
                <p style="font-size: 12px;">We are observing each and every
                  activity of our company minutely as
                  we are responsible for that.</p>
              </a>
            </li>

            <li style="list-style: none;
            margin: 1em;">
              <a href="#" contenteditable style="text-decoration: none;
              color: #000;
              background: #ff0000a6;
              display: block;
              height: 10em;
              width: 10em;
              padding: 1em;
              box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
              transform: rotate(-6deg);
              transition: transform .15s linear;">
                <h5>Reasonable Profit</h5>
                <p style="font-size: 12px;">We strongly believe that "A
                  business that makes nothing
                  but money is poor business”.</p>
              </a>
            </li>

            <li style="list-style: none;
            margin: 1em;">
              <a href="#" contenteditable style="text-decoration: none;
              color: #000;
              background: #4b00ff85;
              display: block;
              height: 10em;
              width: 10em;
              padding: 1em;
              box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
              transform: rotate(-6deg);
              transition: transform .15s linear;">
                <h6>Commitment</h6>
                <p style="font-size: 12px;">We are successful not because of
                  only burning Desire but we are
                  strong committed people</p>
              </a>
            </li>

            <li style="list-style: none;
            margin: 1em;">
              <a href="#" contenteditable style="text-decoration: none;
              color: #000;
              background: #fb00ffa6;
              display: block;
              height: 10em;
              width: 10em;
              padding: 1em;
              box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
              transform: rotate(-6deg);
              transition: transform .15s linear;">
                <h6>Accountability</h6>
                <p style="font-size: 12px;">We as an individual strongly
                  believe that "I am accountable
                  for each and every step"</p>
              </a>
            </li>

            <li style="list-style: none;
            margin: 1em;">
              <a href="#" contenteditable style="text-decoration: none;
              color: #000;
              background: #00e7fff2;
              display: block;
              height: 10em;
              width: 10em;
              padding: 1em;
              box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
              transform: rotate(-6deg);
              transition: transform .15s linear;">
                <h5>Innovation</h5>
                <p style="font-size: 12px;">We strongly believe that "There is a
                  way to do better, we must find it".</p>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>

  </div>
</section><!-- End About Section -->
<br>

{% endblock %}
