{% extends "layout.html" %}

{% load static %}

{% block style %}

<style>

    /* .portfolio{
        background-image: url("{% static 'prod.jpg' %}");
    } */

    .portfolio .portfolio-item {
        margin-bottom: 30px;
    }

    .portfolio #portfolio-flters {
        padding: 0;
        margin: 0 auto 35px auto;
        list-style: none;
        text-align: center;
        background: #fff;
        border-radius: 50px;
        padding: 2px 15px;
    }

    .portfolio #portfolio-flters li {
        cursor: pointer;
        display: inline-block;
        padding: 10px 15px 8px 15px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        color: #272829;
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out;
    }

    .portfolio #portfolio-flters li:hover,
    .portfolio #portfolio-flters li.filter-active {
        color: #149ddd;
    }

    .portfolio #portfolio-flters li:last-child {
        margin-right: 0;
    }

    .portfolio .portfolio-wrap {
        transition: 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-align: center;
    }

    .portfolio .portfolio-wrap::before {
        content: "";
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all ease-in-out 0.3s;
        z-index: 2;
        opacity: 0;
    }

    .portfolio .portfolio-wrap .portfolio-links {
        opacity: 1;
        left: 0;
        right: 0;
        bottom: -60px;
        z-index: 3;
        position: absolute;
        transition: all ease-in-out 0.3s;
        display: flex;
        justify-content: center;
    }

    .portfolio .portfolio-wrap .portfolio-links a {
        color: #fff;
        font-size: 28px;
        text-align: center;
        background: rgba(20, 157, 221, 0.75);
        transition: 0.3s;
        width: 50%;
    }

    .portfolio .portfolio-wrap .portfolio-links a:hover {
        background: rgba(20, 157, 221, 0.95);
    }

    .portfolio .portfolio-wrap .portfolio-links a+a {
        border-left: 1px solid #37b3ed;
    }

    .portfolio .portfolio-wrap:hover::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
    }

    .portfolio .portfolio-wrap:hover .portfolio-links {
        opacity: 1;
        bottom: 0;
    }

    /*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
    .portfolio-details {
        padding-top: 40px;
    }

    .portfolio-details .portfolio-details-slider img {
        width: 100%;
    }

    .portfolio-details .portfolio-details-slider .swiper-pagination {
        margin-top: 20px;
        position: relative;
    }

    .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid #149ddd;
    }

    .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #149ddd;
    }

    .portfolio-details .portfolio-info {
        padding: 30px;
        box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
    }

    .portfolio-details .portfolio-info h3 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
    }

    .portfolio-details .portfolio-info ul {
        list-style: none;
        padding: 0;
        font-size: 15px;
    }

    .portfolio-details .portfolio-info ul li+li {
        margin-top: 10px;
    }

    .portfolio-details .portfolio-description {
        padding-top: 30px;
    }

    .portfolio-details .portfolio-description h2 {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .portfolio-details .portfolio-description p {
        padding: 0;
    }

    .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 15px;
    }

    .btn:hover {
        background-color: RoyalBlue;
    }

</style>

{% endblock %}


{% block body %}


<section id="portfolio" class="portfolio section-bg">
    <div class="container" style="padding-top: 50px;">

        <div style="padding-bottom: 40px; display: flex;">
            <a href="https://drive.google.com/file/d/1bJNnSriq6HTHvdf0Nh7sZU-b2HNwud5E/view?usp=sharing" style="padding-right: 15px;">
                <button class="btn"><i class="fa fa-download"></i> Bengali Brochure</button>
            </a>

            <a href="https://drive.google.com/file/d/1GR-F9IkXD_3N7tWzxsSAEds_Oa9T0l3B/view?usp=sharing">
                <button class="btn"><i class="fa fa-download"></i> English Brochure</button>
            </a>
        </div>

        <br> <br>
        <div class="section-title">
            <h2><b>Our Products</b></h2> <br>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="{% static 'grow vita.jpg' %}" class="img-fluid" alt="">
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <a href="{% static 'grow vita1.jpg' %}"><div style="text-align: center; color: #0008ffeb;"><i class="fa fa-info-circle" aria-hidden="true"></i><b style="padding-left: 3px;">Details</b></div></a>
                    </div>
                    <div style="float: right; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <div style="text-align: center;  color: #16cb0aeb;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b style="padding-left: 3px;">Buy</b></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="{% static 'jadu booster.jpg' %}" class="img-fluid" alt="">
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <a href="{% static 'jadu booster1.jpg' %}"><div style="text-align: center; color: #0008ffeb;"><i class="fa fa-info-circle" aria-hidden="true"></i><b style="padding-left: 3px;">Details</b></div></a>
                    </div>
                    <div style="float: right; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <div style="text-align: center;  color: #16cb0aeb;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b style="padding-left: 3px;">Buy</b></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="{% static 'rpotector.jpg' %}" class="img-fluid" alt="">
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <a href="{% static 'protector1.jpg' %}"><div style="text-align: center; color: #0008ffeb;"><i class="fa fa-info-circle" aria-hidden="true"></i><b style="padding-left: 3px;">Details</b></div></a>
                    </div>
                    <div style="float: right; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <div style="text-align: center;  color: #16cb0aeb;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b style="padding-left: 3px;">Buy</b></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="{% static 'larva d.jpg' %}" class="img-fluid" alt="">
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <a href="{% static 'larva d1.jpg' %}"><div style="text-align: center; color: #0008ffeb;"><i class="fa fa-info-circle" aria-hidden="true"></i><b style="padding-left: 3px;">Details</b></div></a>
                    </div>
                    <div style="float: right; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <div style="text-align: center;  color: #16cb0aeb;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b style="padding-left: 3px;">Buy</b></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="{% static 'fly master.jpg' %}" class="img-fluid" alt="">
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <a href="{% static 'fly master1.jpg' %}"><div style="text-align: center; color: #0008ffeb;"><i class="fa fa-info-circle" aria-hidden="true"></i><b style="padding-left: 3px;">Details</b></div></a>
                    </div>
                    <div style="float: right; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <div style="text-align: center;  color: #16cb0aeb;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b style="padding-left: 3px;">Buy</b></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="{% static 'finder.jpg' %}" class="img-fluid" alt="">
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <a href="{% static 'finder1.jpg' %}"><div style="text-align: center; color: #0008ffeb;"><i class="fa fa-info-circle" aria-hidden="true"></i><b style="padding-left: 3px;">Details</b></div></a>
                    </div>
                    <div style="float: right; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <div style="text-align: center;  color: #16cb0aeb;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b style="padding-left: 3px;">Buy</b></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="{% static 'fungal fight.jpg' %}" class="img-fluid" alt="">
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <a href="{% static 'fungal fight1.jpg' %}"><div style="text-align: center; color: #0008ffeb;"><i class="fa fa-info-circle" aria-hidden="true"></i><b style="padding-left: 3px;">Details</b></div></a>
                    </div>
                    <div style="float: right; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <div style="text-align: center;  color: #16cb0aeb;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b style="padding-left: 3px;">Buy</b></div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="{% static 'hold on.jpg' %}" class="img-fluid" alt="">
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <a href="{% static 'hold on1.jpg' %}"><div style="text-align: center; color: #0008ffeb;"><i class="fa fa-info-circle" aria-hidden="true"></i><b style="padding-left: 3px;">Details</b></div></a>
                    </div>
                    <div style="float: right; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <div style="text-align: center;  color: #16cb0aeb;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b style="padding-left: 3px;">Buy</b></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="{% static 'black pearls.jpg' %}" class="img-fluid" alt="">
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <a href="{% static 'black pearls1.jpg' %}"><div style="text-align: center; color: #0008ffeb;"><i class="fa fa-info-circle" aria-hidden="true"></i><b style="padding-left: 3px;">Details</b></div></a>
                    </div>
                    <div style="float: right; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <div style="text-align: center;  color: #16cb0aeb;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b style="padding-left: 3px;">Buy</b></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="{% static 'black insta.jpg' %}" class="img-fluid" alt="">
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <a href="{% static 'black insta1.jpg' %}"><div style="text-align: center; color: #0008ffeb;"><i class="fa fa-info-circle" aria-hidden="true"></i><b style="padding-left: 3px;">Details</b></div></a>
                    </div>
                    <div style="float: right; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <div style="text-align: center;  color: #16cb0aeb;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b style="padding-left: 3px;">Buy</b></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="{% static 'briddhi.jpg' %}" class="img-fluid" alt="">
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <a href="{% static 'briddhi1.jpg' %}"><div style="text-align: center; color: #0008ffeb;"><i class="fa fa-info-circle" aria-hidden="true"></i><b style="padding-left: 3px;">Details</b></div></a>
                    </div>
                    <div style="float: right; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <div style="text-align: center;  color: #16cb0aeb;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b style="padding-left: 3px;">Buy</b></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="{% static 'nutri enzyme gold.jpg' %}" class="img-fluid" alt="">
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <a href="{% static 'nutri enzyme gold1.jpg' %}"><div style="text-align: center; color: #0008ffeb;"><i class="fa fa-info-circle" aria-hidden="true"></i><b style="padding-left: 3px;">Details</b></div></a>
                    </div>
                    <div style="float: right; width: 50%; border: 1px solid rgb(0, 0, 0); border-radius: 50px; padding: 2px;">
                        <div style="text-align: center;  color: #16cb0aeb;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b style="padding-left: 3px;">Buy</b></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

{% endblock %}